@import '../../css/theme.scss';


.triangulo1{
    background-image: url(../../css/imgs/triangulo1.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
}

.triangulo2 {
    background-image: url(../../css/imgs/triangulo2.png);
    background-repeat: no-repeat;
    width: 24px;
    height: 24px;
    display: inline-block;
    position: relative;
    bottom: 25px;
}

h3 {
    margin: 0px;
    position: relative;
    display: inline;
    font-weight: bold;
    top: 5px;
    margin: 5px;
}

.quadrado-2 {
    width: 19px !important;
    height: 19px !important;
}