<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Operações Estruturadas</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <link href="css/full.css" rel="stylesheet"> -->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <i class="fas fa-archway"></i>Operações Estruturadas</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/Home'>Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">

    <div class="row">
      <div class="col-md">
        <div class="card mt-4">
          <div class="card-body">
            <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
              <mat-tab label="Butterfly"> Content 1 </mat-tab>
              <mat-tab label="Calendar Butterfly">
                <div class="calendar-butterfly">
                  <div class="row polaroid">
                    <div class="col-md">
                      {{ serie }}
                    </div>
                    <div class="col-md">Montagem</div>
                    <div class="col-md">Preço Atual Entrada</div>
                    <div class="col-md">Desmontagem</div>
                    <div class="col-md">Preço Atual Saída</div>
                    <div class="col-md">Parâmetro Montagem</div>
                  </div>
                  <br>
                </div>
                <div class="row">
                  <div class="col-md">
                    <ng-container *ngFor='let strike of strikes;let i = index'>
                      {{ strike }}
                      <br *ngIf="(i+1)%3==0">
                    </ng-container>
                  </div>
                  <div class="col-md">
                    <ng-container *ngFor='let montagem of montagens;let i = index'>
                      {{ montagem }}
                      <br *ngIf="(i+1)%3==0">
                    </ng-container>
                  </div>
                  <div class="col-md">
                    <ng-container *ngFor='let preco of precosEntrada;let i = index'>
                      {{ preco }}
                      <br *ngIf="(i+1)%3==0">
                    </ng-container>
                  </div>
                  <div class="col-md">
                    <ng-container *ngFor='let desmontagem of desmontagens;let i = index'>
                        {{ desmontagem }}
                        <br *ngIf="(i+1)%3==0">
                    </ng-container>
                  </div>
                  <div class="col-md">
                      <ng-container *ngFor='let preco of precosSaida;let i = index'>
                          {{ preco }}
                          <br *ngIf="(i+1)%3==0">
                      </ng-container>
                    </div>
                    <div class="col-md">
                        <ng-container *ngFor='let pam of parametroMontagem;let i = index'>
                            {{ pam }}
                            <br *ngIf="(i+1)%3==0">
                        </ng-container>
                      </div>
                </div>
              </mat-tab>
              <mat-tab label="Ratio Temporal"> Content 3 </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
