<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <!-- <meta http-equiv="refresh" content="5"> -->

  <title>Operações Estruturadas</title>

  <!-- Bootstrap core CSS -->
  <!-- <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"> -->

  <!-- Custom styles for this template -->
  <!-- <link href="css/full.css" rel="stylesheet"> -->

</head>

<body>

  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">
        <mat-icon class="ml-2">dialpad</mat-icon><span class="ml-2">Operações Estruturadas</span> </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" routerLink='/Home'>Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="container">
    <br>
        <app-cabecalho [cabecalho]='cabecalho'></app-cabecalho>
    <div class="row">
      <div class="col-md">
        <div class="card mt-4">
          <div class="card-body">
            <mat-tab-group #tabGroup (selectedTabChange)="tabChanged($event)">
              <mat-tab label="Butterfly">
                <butterfly *ngIf="aba === 'Butterfly'"></butterfly>
              </mat-tab>
              <mat-tab label="Calendar Butterfly">
                  <calendar-butterfly *ngIf="aba === 'Calendar Butterfly'"></calendar-butterfly>
              </mat-tab>
              <mat-tab label="Ratio Temporal - Call">
                <ratio-temporal-call *ngIf="aba === 'Ratio Temporal - Call'" ></ratio-temporal-call>
              </mat-tab>
              <mat-tab label="Ratio Temporal - Put">
                  <ratio-temporal-put *ngIf="aba === 'Ratio Temporal - Put'" ></ratio-temporal-put>
                </mat-tab>
            </mat-tab-group>

          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Content -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>
