span.ml-2 {
    position: relative;
    bottom: 5px;
}

 /deep/ .mat-tab-body-content {
    overflow: hidden;
}

.mat-tab-body-content {
    overflow: hidden !important;
}

/deep/ .mat-radio-label-content {
    font-weight: bold;
}

/deep/ label.mat-radio-label {
    margin-left: 20px;
}