<div class="container">
    <div class="row">
        <div class="col-md m-4">
          <mat-radio-group 
          [(ngModel)]="serie"
          (change)="changeSerie($event)">
            <mat-radio-button value="I">I</mat-radio-button>
            <mat-radio-button value="J">J</mat-radio-button>
            <mat-radio-button value="K">K</mat-radio-button>
          </mat-radio-group>
        </div>
        <div class="col-md m-4">
            <mat-checkbox>Mostras somente strikes</mat-checkbox>
        </div>
      </div>
    <div class="row polaroid shadow p-1 mb-2 bg-white rounded">
        <div class="col-md"><span class="serie">{{ serie }}</span></div>
        <div class="col-md"><span class="coluna font-weight-bold pt-4">Montagem</span></div>
        <div class="col-md"><span class="coluna font-weight-bold pt-1">Preço Atual</span></div>
        <div class="col-md"><span class="coluna font-weight-bold pt-4">Desmontagem</span></div>
        <div class="col-md"><span class="coluna font-weight-bold pt-2">Parâmetro Montagem</span></div>
      </div>
      <br>
          <div class="row" *ngFor='let d of dados_aux; let i = index'>
              <div class="card card-block">
                <div class="col-sm-2">
                    <span class="card-text font-weight-bold"> {{ d.asa_inferior.Strike }}</span><div class="quadrado"><span class="text-center font-weight-bold">+1</span></div><br>
                    <span class="card-text font-weight-bold"> {{ d.miolo.Strike }}</span><div class="quadrado"><span class="text-center font-weight-bold">-2</span></div><br>
                    <span class="card-text font-weight-bold"> {{ d.asa_superior.Strike }}</span><div class="quadrado"><span class="text-center font-weight-bold">+1</span></div><br>
                </div>
                  <div class="col-sm-3">
                      <div class="quadrado-2 rounded">
                        <span class="text-center font-weight-bold" style="background-color:red; color: white">C</span>
                      </div>
                      <span> {{ d.asa_inferior.Codigo }} </span>
                      <span  class="ml-2" style="color: blue"><small>1 x </small> {{ d.asa_inferior.Valor_Ask }} </span>
                      <br>
                      <div class="quadrado-2 rounded">
                        <span class="text-center font-weight-bold"  style="background-color:green; color: white">V</span>
                      </div>
                      <span> {{ d.miolo.Codigo }} </span>
                      <span  class="ml-2" style="color: blue"><small>2 x </small> {{ d.miolo.Valor_Bid }} </span>
                      <br>
                      <div class="quadrado-2 rounded">
                        <span class="text-center font-weight-bold"  style="background-color:red; color: white">C</span>
                      </div>
                      <span> {{ d.asa_superior.Codigo }} </span>
                      <span  class="ml-2" style="color: blue"><small>1 x </small> {{ d.asa_superior.Valor_Ask }} </span>
                      <br>
                  </div>
                  <div class="col-sm-2 mt-4">
                    <span class="font-weight-bold" style="color:red">
                      {{ d.preco_entrada_atual }}
                    </span>
                    <br><small><span class="text-center" style="color:red">(Pagar)</span></small></div>
                  <div class="col-sm-3">
                      <div class="quadrado-2 rounded">
                        <span class="text-center font-weight-bold" style="background-color:green; color: white">V</span>
                      </div>
                      <span> {{ d.asa_inferior.Codigo }} </span>
                      <span  class="ml-2" style="color: blue"><small>1 x</small> {{ d.asa_inferior.Valor_Bid }} </span>
                      <br>
                      <div class="quadrado-2 rounded">
                        <span class="text-center font-weight-bold"  style="background-color:red; color: white">C</span>
                      </div>
                      <span> {{ d.miolo.Codigo }} </span>
                      <span  class="ml-2" style="color: blue"><small>2 x</small> {{ d.miolo.Valor_Ask }} </span>
                      <br>
                      <div class="quadrado-2 rounded">
                        <span class="text-center font-weight-bold"  style="background-color:green; color: white">V</span>
                      </div>
                      <span> {{ d.asa_superior.Codigo }} </span>
                      <span  class="ml-2" style="color: blue"><small>1 x</small> {{ d.asa_superior.Valor_Bid }} </span>
                      <br>
                  </div>  
                  <div class="col-sm-1 mt-4">
                    <span class="font-weight-bold" style="color: green">{{ d.preco_saida_atual }}</span>
                    <br><small><span class="text-center" style="color:green">(Receber)</span></small>
                  </div>
                  <div class="col-sm-1 mt-4">
                    <span class="font-weight-bold" style="color:blue">{{ d.preco_entrada_parametro }}</span>
                    <br><small><span class="text-center" style="color:blue">(Pagar)</span></small>
                  </div>
              </div>
            </div>
</div>